<section id="education" class="min-h-screen p-10 bg-white text-gray-900">
    <h2 class="text-3xl font-semibold mb-6">Educación</h2>
    <ul class="list-disc list-inside max-w-3xl space-y-4">
        <li><strong>Egresado de Ingeniería en Informática</strong> – Universidad Autónoma Tomás Frías, Potosí (2008-2015)</li>
        <li><strong>Titulado en Ingeniería en Informática</strong> – Universidad Autónoma Tomás Frías, Potosí (2015-2020)</li>
        <li><strong>Diplomado en Educacion Superiro Basado en Competencias</strong> – Universidad Autónoma Tomás Frías, Potosí (2021 - 2021)</li>
        <li><strong>Maestría en Inteligencia Artificial e Implementacion de Modelos</strong> – En curso (2024-2026)</li>
        <li>Cursos y certificaciones en desarrollo web, sistemas distribuidos y metodologías ágiles.</li>
    </ul>
</section>